<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sf.commonclipse"
   name="%plugin.name"
   version="1.0.1"
   provider-name=""
   class="net.sf.commonclipse.CCPlugin">

   <runtime>
      <library name="commonclipse.jar">
         <packages prefixes="net.sf.commonclipse"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.jface.text"/>
   </requires>


   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IType"
            id="cb.contribution1">
         <menu
               label="%plugin.menu"
               path="additions"
               id="cb.menu">
            <separator
                  name="actionGroup">
            </separator>
         </menu>
         <action
               label="%action.tostring"
               icon="icons/tostring.gif"
               class="net.sf.commonclipse.popup.actions.JavaTypeObjectAction"
               menubarPath="cb.menu/actionGroup"
               enablesFor="*"
               id="cb.ToString">
         </action>
         <action
               label="%action.hashcode"
               icon="icons/hashcode.gif"
               class="net.sf.commonclipse.popup.actions.JavaTypeObjectAction"
               menubarPath="cb.menu/actionGroup"
               enablesFor="*"
               id="cb.HashCode">
         </action>
         <action
               label="%action.hashcode"
               icon="icons/equals.gif"
               class="net.sf.commonclipse.popup.actions.JavaTypeObjectAction"
               menubarPath="cb.menu/actionGroup"
               enablesFor="*"
               id="cb.Equals">
         </action>
         <action
               label="%action.compareto"
               icon="icons/compareto.gif"
               class="net.sf.commonclipse.popup.actions.JavaTypeObjectAction"
               menubarPath="cb.menu/actionGroup"
               enablesFor="*"
               id="cb.CompareTo">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.jdt.core.ICompilationUnit"
            nameFilter="*.java"
            id="cb.contribution2">
         <menu
               label="%plugin.menu"
               path="additions"
               id="cb.menu">
            <separator
                  name="actionGroup">
            </separator>
         </menu>
         <action
               label="%action.tostring"
               icon="icons/tostring.gif"
               class="net.sf.commonclipse.popup.actions.JavaTypeObjectAction"
               menubarPath="cb.menu/actionGroup"
               enablesFor="*"
               id="cb.ToString">
         </action>
         <action
               label="%action.hashcode"
               icon="icons/hashcode.gif"
               class="net.sf.commonclipse.popup.actions.JavaTypeObjectAction"
               menubarPath="cb.menu/actionGroup"
               enablesFor="*"
               id="cb.HashCode">
         </action>
         <action
               label="%action.equals"
               icon="icons/equals.gif"
               class="net.sf.commonclipse.popup.actions.JavaTypeObjectAction"
               menubarPath="cb.menu/actionGroup"
               enablesFor="*"
               id="cb.Equals">
         </action>
         <action
               label="%action.compareto"
               icon="icons/compareto.gif"
               class="net.sf.commonclipse.popup.actions.JavaTypeObjectAction"
               menubarPath="cb.menu/actionGroup"
               enablesFor="*"
               id="cb.CompareTo">
         </action>
      </objectContribution>
      <viewerContribution
            targetID="#CompilationUnitEditorContext"
            id="cb.menu">
         <menu
               label="%plugin.menu"
               path="additions"
               id="cb.menu">
            <separator
                  name="actionGroup">
            </separator>
         </menu>
         <action
               label="%action.tostring"
               icon="icons/tostring.gif"
               class="net.sf.commonclipse.popup.actions.JavaTypeViewerAction"
               menubarPath="cb.menu/actionGroup"
               enablesFor="*"
               id="cb.ToString">
         </action>
         <action
               label="%action.hashcode"
               icon="icons/hashcode.gif"
               class="net.sf.commonclipse.popup.actions.JavaTypeViewerAction"
               menubarPath="cb.menu/actionGroup"
               enablesFor="*"
               id="cb.HashCode">
         </action>
         <action
               label="%action.equals"
               icon="icons/equals.gif"
               class="net.sf.commonclipse.popup.actions.JavaTypeViewerAction"
               menubarPath="cb.menu/actionGroup"
               enablesFor="*"
               id="cb.Equals">
         </action>
         <action
               label="%action.compareto"
               icon="icons/compareto.gif"
               class="net.sf.commonclipse.popup.actions.JavaTypeViewerAction"
               menubarPath="cb.menu/actionGroup"
               enablesFor="*"
               id="cb.CompareTo">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%plugin.preference"
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="net.sf.commonclipse.preferences.CCPreferencePage"
            id="net.sf.commonclipse.preferences.CCPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.sf.commonclipse.preferences.CCPreferenceInitializer"/>
   </extension>
     

   

</plugin>
